<div class="card">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Transactions</h3>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <% if @transactions %>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Artist</th>
              <th scope="col">Music Title</th>
              <th scope="col">Amount Paid</th>
              <th scope="col">Staus</th>
              <th scope="col">Artist Payout</th>
              <th scope="col">Revenue</th>
            </tr>
          </thead>
          <tbody>
            <% @transactions.each do |transaction|%>
            <tr>
              <th scope="row">
                <%= transaction.song_name[0]['artist'] %>
              </th>
              <td>
                <%= transaction.song_name[0]['title'] %>
              </td>
              <td>
                N<%= sprintf('%.2f', transaction.amount.to_f/100) %>
              </td>
              <td>
                <%= transaction.status.upcase %>
              </td>
              <td>
                N<%= sprintf('%.2f', transaction.creator_amount.to_f/100) %>

              </td>
              <td>
                N<%= sprintf('%.2f', transaction.platform_amount.to_f/100) %>                
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      </div>
    </div>
